In [1]:
import pandas as pd
import numpy as np

# 1. idxmax: 최대값의 인덱스를 반환

In [5]:
a = [2000, 5000, 500, 100, 6000]
b = [100, 20, 400, 2000, 5]

data = pd.DataFrame({'가격' : a, '개수' : b})
data

     가격    개수
0  2000   100
1  5000    20
2   500   400
3   100  2000
4  6000     5

In [6]:
data.idxmax(axis = 0)     # 컬럼별 최대값의 인덱스를 반환

가격    4
개수    3
dtype: int64

In [7]:
data.idxmax(axis = 1)     # 행별 최대값의 컬럼명 반환

0    가격
1    가격
2    가격
3    개수
4    가격
dtype: object

# 2. argmax: 배열에서 가장 큰 값의 인덱스 반환

In [11]:
a = np.array([4, 6, 2, 5, 1])
a

array([4, 6, 2, 5, 1])

In [12]:
a.argmax()     # 최대값의 위치를 반환

1

# 3. max: 최대값

In [13]:
a = np.array([4, 6, 2, 5, 1])
a.max()

6

In [14]:
a = [2000, 5000, 500, 100, 6000]
b = [100, 20, 400, 2000, 5]

data = pd.DataFrame({'가격' : a, '개수' : b})
data.max()

가격    6000
개수    2000
dtype: int64