# isin()

- 일치하는 요소 확인
- dataframe이나 series에 어떤 list에 있는 요소가 존재하는지를 반환

In [2]:
import pandas as pd

data = pd.DataFrame(data = ['수박', '딸기', '복숭아', '바나나', '멜론', '포도'], columns = ['과일'])
data

    과일
0   수박
1   딸기
2  복숭아
3  바나나
4   멜론
5   포도

In [5]:
find_list = ['바나나', '사과', '포도']
data[data['과일'].isin(find_list)]

    과일
3  바나나
5   포도