# iterrows()

- 행인덱스와 해당 행의 값 출력

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(data = {'과일' : ['사과', '바나나', '오렌지'], '색': ['빨강', '노랑', '주황'], '가격': ['1000원', '3000원', '2000원']})
df

    과일   색     가격
0   사과  빨강  1000원
1  바나나  노랑  3000원
2  오렌지  주황  2000원

In [5]:
for idx, row in df.iterrows():
    print(idx)
    print(row)

0
과일       사과
색        빨강
가격    1000원
Name: 0, dtype: object
1
과일      바나나
색        노랑
가격    3000원
Name: 1, dtype: object
2
과일      오렌지
색        주황
가격    2000원
Name: 2, dtype: object