# 단축키

초록색: Edit mode(Enter키) / 파란색: Commande mode(ESC키)
* 셀 실행: Ctrl + Enter(실행 후 제자리) / Shift + Enter(실행 후 다음 셀)
* 셀 둘로 나누기: [edit mode] Ctrl + Shift + (-)
* 셀 추가: [command mode] A(위), B(아래)
* 셀 삭제: [command mode] DD
* 셀 복사: [command mode] C
* 셀 붙여넣기: [command mode] P
* 셀 잘라내기: [command mode] X
* 아래 셀과 합치기: [command mode] Shift + M
* code로 셀 타입 변경: [command mode] Y
* markdown으로 셀 타입 변경: [command mode] M
* 주석처리: Ctrl + / (원하는 행을 선택한 후) (다시 한번 더 하면 취소도 가능)
* 라인 넘버 설정: 메뉴 -> view -> Toggle line numbers 활성화
* 단축키 확인: 메뉴 -> help -> Keyboard shortcut
* 들여쓰기 취소: shift + tab

# 자료형

In [1]:
a = 9
b = 5

print(a // b)     # a/b의 몫
print(a % b)     # a/b의 나머지

1
4

In [5]:
data = {
    '일자' : '2020-01-01',
    '이름' : '홍길동',
    '전화번호' : '010-1234-5678'
}
data

{'일자': '2020-01-01', '이름': '홍길동', '전화번호': '010-1234-5678'}

In [6]:
data.keys()     # key값 조회

dict_keys(['일자', '이름', '전화번호'])

In [7]:
data.values()     # value값 조회

dict_values(['2020-01-01', '홍길동', '010-1234-5678'])

In [8]:
data.items()     # key, value 값 조회

dict_items([('일자', '2020-01-01'), ('이름', '홍길동'), ('전화번호', '010-1234-5678')])

In [9]:
data['이름']     # 특정 key값의 value 확인

'홍길동'

In [10]:
data['나이'] = 20     # 데이터 추가 등록
data

{'일자': '2020-01-01', '이름': '홍길동', '전화번호': '010-1234-5678', '나이': 20}

# numpy, pandas

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
a = [1, 2, 3]
b = [4, 5, 6]

In [2]:
np.array(a)

array([1, 2, 3])

In [3]:
np.array([a, b])

array([[1, 2, 3],
       [4, 5, 6]])

* 판다스 구조
    * dataframe: 표 형태
        * index, columns
    * series: 하나의 속성을 가진 데이터 집합(dataframe에서 하나의 열 데이터)

In [4]:
pd.DataFrame(np.array([a, b]))

   0  1  2
0  1  2  3
1  4  5  6

In [5]:
pd.DataFrame([a, b])

   0  1  2
0  1  2  3
1  4  5  6

In [6]:
# column명과 index명 추가
pd.DataFrame([a, b], columns = ['a', 'b', 'c'], index = ['x', 'y'])

   a  b  c
x  1  2  3
y  4  5  6

In [7]:
pd.Series(a)

0    1
1    2
2    3
dtype: int64

# List

In [1]:
my_list = ['a', 'b', 'c']
my_list

['a', 'b', 'c']

In [2]:
my_list.append('d')
my_list

['a', 'b', 'c', 'd']

In [3]:
my_list[0]

'a'

In [4]:
my_list[0] = 'change'
my_list

['change', 'b', 'c', 'd']

In [5]:
nest = [1, 2, 3, [4, 5, ['here']]]
nest

[1, 2, 3, [4, 5, ['here']]]

In [6]:
nest[3]

[4, 5, ['here']]

In [7]:
nest[3][2]

['here']

In [8]:
nest[3][2][0]

'here'

In [4]:
list1 = ['원숭이', '코끼리', '바나나']
list2 = [2, 4, 6, 8, 10]

list1.append(list2)     # list1의 마지막 원소자리에 list2 추가
print(list1)
print(len(list1))     # list1의 원소 개수

['원숭이', '코끼리', '바나나', [2, 4, 6, 8, 10]]
4

# 반복문(for, while)

In [9]:
x = [1, 2, 3]

for a in x:
    print(a)

1
2
3

In [11]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
a = ['apple', 'orange', 'banana', 'melon']
b = [1, 0, 2]

for i in b:
    print(a[i])

orange
apple
banana

In [13]:
t = 0

while t < 10:
    print(t)
    t = t + 1

0
1
2
3
4
5
6
7
8
9

In [14]:
a = []
b = 1

while len(a) < 10:
    a.append(b)
    print(a)
    b = b + 3

[1]
[1, 4]
[1, 4, 7]
[1, 4, 7, 10]
[1, 4, 7, 10, 13]
[1, 4, 7, 10, 13, 16]
[1, 4, 7, 10, 13, 16, 19]
[1, 4, 7, 10, 13, 16, 19, 22]
[1, 4, 7, 10, 13, 16, 19, 22, 25]
[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]

In [16]:
print(a)
len(a)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]

10

# 조건문(if)

In [11]:
# 홀/짝 판단

n = 20

if n <= 0:
    print('1 이상의 자연수를 입력하세요')
elif n % 2 == 0:     # 2로 나눈 나머지가 0이면
    print('짝수입니다.')
else:
    print('홀수입니다')

짝수입니다.

In [13]:
# 크기 비교

shop_a = ['사과', '배', '파인애플']
shop_b = ['딸기', '포도', '사과', '배']

if len(shop_a) > len(shop_b):
    print('shop_a의 과일 종류가 더 많다')
elif len(shop_a) < len(shop_b):
    print('shop_b의 과일 종류가 더 많다')
else:
    print('두 매장에서 파는 과일의 종류 수는 동일하다')

shop_b의 과일 종류가 더 많다

In [15]:
# 포함 여부

shop_a = ['사과', '배', '파인애플']

if '딸기' in shop_a:
    print('shop_a에서 딸기를 판매한다')
else:
    print('shop_a에서 딸기를 판매하지 않는다')
    
if '포도' not in shop_a:
    print('shop_a에서 포도를 판매하지 않는다')
else:
    print('shop_a에서 포도를 판매한다')

shop_a에서 딸기를 판매하지 않는다
shop_a에서 포도를 판매하지 않는다

In [16]:
# 일치 여부

a = '태극기'
b = '태극기가 바람에 펄럭입니다'

if a == b:
    print('완전 동일')
elif a in b:
    print('a가 b에 포함된다')
else:
    print('다르다')

a가 b에 포함된다

In [19]:
# 문자열 포매팅

name = '홍길동'
sentence = f'안녕하세요. {name}님 만나서 반갑습니다.'
# sentence = '안녕하세요. {}님 만나서 반갑습니다.'.format(name)     # 이렇게 써도 똑같음. 위 버전이 최신이므로 되도록 위 버전으로 쓸 것

print(name)
print(sentence)

홍길동
안녕하세요. 홍길동님 만나서 반갑습니다.

In [20]:
# 문자열 포매팅 여러 개도 가능

month = '12월'
day = '25일'

sentence = f'오늘은 {month} {day}입니다.'
# sentence = '오늘은 {} {}입니다.'.format(month, day)

print(sentence)

오늘은 12월 25일입니다.

In [21]:
# 줄바꿈문자는 \n, 탭 문자는 \t

raw = '\n\t 태극기가 바람에 펄럭입니다. \n 하늘 높이 하늘 높이 펄럭입니다.'
print(raw)

	 태극기가 바람에 펄럭입니다.
 하늘 높이 하늘 높이 펄럭입니다.

In [22]:
# 문자열.strip()를 통해 문자열 시작과 끝 부분의 공백문자(줄바꿈, 띄어쓰기, 탭문자 등)을 제거할 수 있음

raw_strip = raw.strip()
print(raw_strip)

태극기가 바람에 펄럭입니다.
 하늘 높이 하늘 높이 펄럭입니다.

In [23]:
# 문자열.replace()를 통해 특정 문자열을 삭제하거나 변경 가능

raw_edit = raw_strip.replace('하늘 높이', '하늘높이')
print(raw_edit)

태극기가 바람에 펄럭입니다.
 하늘높이 하늘높이 펄럭입니다.

In [24]:
data = '미국/중국/일본/러시아/베트남/태국'
data.split('/')     # split을 이용해 특정 문자열을 기준으로 문자열을 나눌 수 있음. 결과는 리스트 타입

['미국', '중국', '일본', '러시아', '베트남', '태국']

# 함수 만들기(def)

In [62]:
def my_function(a):
    print(a)

my_function('hello')

hello

In [65]:
def hundred(x):
    print(x + 100)
    
y = hundred(10)

110

In [68]:
print(y)     # 함수에 return이 없으므로, y에 아무것도 저장되지 않음

None

In [69]:
def hundred(x):
    return x + 100

hundred(10)

110

In [70]:
y = hundred(10)

In [71]:
y     # 함수에 return이 있으면 y에 저장됨

110

In [72]:
def hap(x, y):
    return x + y

hap(3, 5)

8

In [74]:
def hap_ten(x, y = 10):     # y = 10으로 디폴트 값으로 미리 설정
    return x + y

hap_ten(3, 10)

13

In [75]:
hap_ten(3)     # y값을 안 넣어도 디폴트 값인 10으로 반영되어 계산됨

13

In [76]:
def hap_ten(x = 20, y = 10):     # 모든 변수에 디폴트값 설정도 가능
    return x + y

hap_ten(3, 9)

12

In [77]:
hap_ten()     # 모든 변수에 디폴트값이 설정되어 있으므로 괄호 안에 아무것도 안 써도 됨

30

In [78]:
def ten(x):
    if x > 10:
        print('large')
    else:
        print('small')
        
ten(30)

large

In [79]:
def plus_minus_ten(x):
    if x > 10:
        return x + 10
    else:
        return x - 10
    
plus_minus_ten(15)

25

In [7]:
def gob(a, b):
    gob = a * b
    text = f'{a} x {b} = {gob}'     # text = '{} x {} = {}'.format(a, b, gob)
    return text

In [11]:
a = 2
b = 8

print(gob(a, b))

2 x 8 = 16

In [12]:
# 구구단 출력

for i in [2, 3, 4, 5, 6, 7, 8, 9]:
    for j in [1, 2, 3, 4, 5, 6, 7, 8, 9]:
        print(gob(i, j))
    print('*' * 50)     # 단마다 구분하기 위한 구분선

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
**************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
**************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
**************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
**************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
**************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
**************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
**************************************************

In [80]:
import pandas as pd

data = pd.read_csv('galaxy.csv')
data.head()

,BuyItNow,startprice,carrier,color,productline,noDescription,charCountDescription,upperCaseDescription,sold
0,0,199.99,None,White,Galaxy_S9,contains description,0,0,1
1,0,235.00,None,NaN,Galaxy_Note9,contains description,0,0,0
2,0,199.99,NaN,NaN,Unknown,no description,100,2,0
3,1,175.00,AT&T,Space Gray,Galaxy_Note9,contains description,0,0,1
4,1,100.00,None,Space Gray,Galaxy_S8,contains description,0,0,1

In [81]:
# startprice가 .99로 끝나는 경우는 0.01을 더하고 100을 곱하고, .00으로 끝날 경우는 그냥 100을 곱하는 함수

def price(x):
    if x % 1 == 0:
        return x * 100
    else:
        return (x + 0.01) * 100
    
price(99.99)

10000.0

In [82]:
price(data['startprice'])     # 판다스 시리즈 혹은 데이터프레임을 바로 함수 안에 넣으면 하나의 숫자가 입력된게 아니므로 에러남

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().