In [1]:
import pandas as pd

In [2]:
dict = {'col1': [1, 11], 'col2': [2, 12], 'col3': [3, 13]}
dict

{'col1': [1, 11], 'col2': [2, 12], 'col3': [3, 13]}

In [3]:
# dict형태를 데이터프레임형태로 변환

df = pd.DataFrame(dict)
df

   col1  col2  col3
0     1     2     3
1    11    12    13

In [5]:
# 데이터프레임의 값(values)만 추출하면 array형태

array = df.values
array

array([[ 1,  2,  3],
       [11, 12, 13]], dtype=int64)

In [6]:
# 데이터프레임의 값(values)만 추출한 array형태를 list형태로 변환

df_list = df.values.tolist()
df_list

[[1, 2, 3], [11, 12, 13]]

In [8]:
# 데이터프레임 형태를 dict 형태로 변환(이때, 값을 리스트로 변환하기 위해서는 ()안에 'list')

df_dict = df.to_dict('list')
df_dict

{'col1': [1, 11], 'col2': [2, 12], 'col3': [3, 13]}