# unstack

- 인덱스 값을 칼럼으로 올려줌

In [4]:
import numpy as np
import pandas as pd

s1 = pd.Series([1, 2, 3, 4], index = [['A', 'A', 'B', 'B'], ['a', 'b', 'a', 'b']])
s1

A  a    1
   b    2
B  a    3
   b    4
dtype: int64

In [5]:
s1.unstack()     # index의 하위 레벨의 컬럼화

   a  b
A  1  2
B  3  4

In [6]:
s1.unstack(level = 0)     # index의 특정 레벨의 컬럼화

   A  B
a  1  3
b  2  4

In [7]:
s1.unstack(level = 1)

   a  b
A  1  2
B  3  4