# 곱(prod, product)

- prod는 객체의 행이나 열의 곱을 구함 = product
- DataFrame.prod(axis = None, skipna = None, level = None, numeric_only = None, min_count = 0)
- axis: 0은 행, 1은 열
- skipna: True 또는 False. 결측치가 존재할 경우 무시할지의 여부. 기본값은 True
- level: multi index일 경우 레벨을 설정
- numeric_only: 숫자 데이터만 사용할지의 여부
- min_count: 계산에 필요한 숫자의 최소 갯수

In [3]:
import pandas as pd
import numpy as np

col = ['col1','col2','col3']
row = ['row1','row2','row3']
data = [[1,2,3],[4,5,6],[7,np.NaN,9]]
df = pd.DataFrame(data=data,index=row,columns=col)
df

      col1  col2  col3
row1     1   2.0     3
row2     4   5.0     6
row3     7   NaN     9

In [4]:
df.prod(axis = 0)     # 열의 곱

col1     28.0
col2     10.0
col3    162.0
dtype: float64

In [5]:
df.prod(axis = 1)     # 행의 곱

row1      6.0
row2    120.0
row3     63.0
dtype: float64

In [6]:
df.prod(axis = 0, skipna = False)     # nan이 포함되는 경우 nan을 반환

col1     28.0
col2      NaN
col3    162.0
dtype: float64

In [7]:
df.prod(axis = 1, min_count = 3)     # 계산에 필요한 숫자의 최소 갯수를 3으로 설정함
# 이 경우에는 nan을 포함하는 행의 경우 숫자가 2개이기 때문에 skipna = True임에도 nan을 출력

row1      6.0
row2    120.0
row3      NaN
dtype: float64