In [6]:
# 몫(//), 나머지(%), 거듭제곱(**)

print(10 // 3)
print(10 % 3)
print(2 ** 3)

3
1
8

In [4]:
# 몫, 나머지 한번에(divmod)

divmod(10, 3)

(3, 1)

In [5]:
divmod(10, 3)[0]

3

In [1]:
# 문자열 슬라이싱, 문자열 나누기

a = 'Life is too short, You need Python'
print(a[0:3])
print(a.split(' '))

Lif
['Life', 'is', 'too', 'short,', 'You', 'need', 'Python']

# 리스트

In [2]:
# 리스트 값 변경

a = [1, 2, 3]
a[0] = 4
print(a)

[4, 2, 3]

In [4]:
# 리스트 요소 추가

a = [1, 2, 3]
a.append(4)     # 맨 뒤에 추가
a

[1, 2, 3, 4]

In [6]:
# 리스트 요소 삽입

a = [1, 2, 3]
a.insert(1, 4)     # insert(a, b) = a인덱스에 b 추가
a

[1, 4, 2, 3]

In [5]:
# 리스트 요소 제거

a = [1, 2, 3, 4]
a.remove(4)
a

[1, 2, 3]

In [7]:
# 리스트 정렬

a = [1, 4, 2, 3]
a.sort()
a

[1, 2, 3, 4]

In [8]:
# 리스트 역순 정렬

a = [1, 4, 2, 3]
a.sort(reverse = True)
a

[4, 3, 2, 1]

In [9]:
# 리스트 위치 변환

a = [1, 2, 3]
a.index(2)

1

In [10]:
# 리스트 갯수 세기

a = [1, 1, 2, 3]
a.count(1)

2

In [11]:
# 리스트 길이

a = [1, 2, 3]
len(a)

3

# 딕셔너리

In [12]:
a = {'bulldog' : 'dog', 'munchkin' : ' cat'}
type(a)

dict

In [13]:
# 키 검색

a.keys()

dict_keys(['bulldog', 'munchkin'])

In [14]:
# 값 검색

a['bulldog']

'dog'

In [15]:
# 값 추가

a['poodle'] = 'dog'
a

{'bulldog': 'dog', 'munchkin': ' cat', 'poodle': 'dog'}

In [16]:
# 값 변경

a['bulldog'] = 'cat'
a

{'bulldog': 'cat', 'munchkin': ' cat', 'poodle': 'dog'}

In [17]:
# 요소 삭제

del a['bulldog']
a

{'munchkin': ' cat', 'poodle': 'dog'}

In [18]:
# 전부 삭제

a.clear()
a

{}

# 집합

In [19]:
# 집합은 중복 없음

a = {1, 1, 2, 3}
a

{1, 2, 3}

In [20]:
# 교집합

a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

a & b

{4, 5}

In [21]:
# 합집합

a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [22]:
# 차집합

a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

a - b

{1, 2, 3}

In [23]:
# 집합을 리스트로 변환

a = {1, 2, 3, 4, 5}
a = list(a)
a

[1, 2, 3, 4, 5]

# list comprehension

In [1]:
new_list = [i for i in range(10)]
new_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
# 홀수만 출력

new_list = [i for i in range(10) if i % 2 == 1]
new_list

[1, 3, 5, 7, 9]

In [3]:
# 소요시간 확인

from timeit import timeit
iteration = 100000

def list_comprehension():
    new_list = [i for i in range(iteration) if i % 2 == 1]

In [4]:
timeit(list_comprehension, number = 100)     # number = 반복수행횟수

1.6722694000000047

# 예외 처리

In [5]:
# 오류 무시하기 => 치명적인 에러도 무시하기 때문에 좋은 방법은 아님

def error_function(input):
    for i in range(10):
        try:
            result = input / i
            print(result)
        except:
            pass

In [6]:
error_function(10)

10.0
5.0
3.3333333333333335
2.5
2.0
1.6666666666666667
1.4285714285714286
1.25
1.1111111111111112

In [7]:
# 예상되는 예외만 처리

def error_function(input):
    for i in range(10):
        try:
            result = input / i
            print(result)
        except ZeroDivisionError:
            pass

In [8]:
error_function(10)

10.0
5.0
3.3333333333333335
2.5
2.0
1.6666666666666667
1.4285714285714286
1.25
1.1111111111111112